.vscode
__pycache__
id_rsa
*.pub
lib
*.o
xdp_router_user
ebpf-programs/xdp-nat64/nat64/xdp_router_kern.c
ebpf-programs/xdp-nat64/nat64/xdp_router_user
perf*
*.gdb
*.csv
ebpf-programs/loader/loader

#exclude test files
**/tests/test*/

#exclude skel
*_skel.h
*.skel.h

# exclude kmodule build files
*.mod
*.mod.c
*.ko
*.order
*.symvers
*.cmd

inxpect
