.vscode
__pycache__
id_rsa
*.pub
lib
*.o
xdp_router_user
ebpf-programs/xdp-nat64/nat64/xdp_router_kern.c
ebpf-programs/xdp-nat64/nat64/xdp_router_user
perf*
*.gdb

#exclude test
./ebpf-programs/xdp-change-id/tests/
**/xdp-cksm/tests/

# exclude kmodule build files
*.mod
*.ko
*.order
*.symvers
*.cmd
